<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mercury Tours Test Suite">
  <test thread-count="5" name="Mercury Tours TestCases">
    <classes>
      
      <class name="mt_Test.SignOnPageTest"/>
      <class name="mt_Test.RegisterPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
